* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F4F0;
    font-family: Open Sans, sans-serif;
}

#page {
    box-sizing: border-box;
    margin: 88px 80px 130px;
}

#title {    
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
}

#title p {
    font-weight: bold;
    font-size: 16px;
    color: #E1624F;
}

h1 {
    font-size: 36px;
}