* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F4F0;
    font-family: "Open Sans", sans-serif;
    margin: 88px 80px;
    display: flex;
    justify-content: center;
    color: #333333;
    font-size: 16px;
}

#page {
    width: 100%;
    max-width: 1440px;
}

hr {
    margin: 40px 0 64px;
}

h1,
h2,
h3 {
    color: #1B1B1B;
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
    margin-top: 2px;
    margin-bottom: 8px;
}

h3 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 4px;
}

#title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
}

#title p,
#pontos .title {
    font-weight: bold;
    font-size: 16px;
    color: #E1624F;
}

#image img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

#image p {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 25px;
}

#pontos .description {
    margin-bottom: 64px;
}

#lugares ol {
    list-style-position: outside;
}

#lugares ol li::marker {
    font-size: 28px;
    font-weight: bold;
    color: #1B1B1B;
}

#lugares .imagem {
    width: 100%;
    height: auto;
}

#lugares .para {
    margin-bottom: 30px;
}

.bom-para {
    font-weight: bold;
}

.tags-list {
    list-style: none;
    margin-bottom: 48px;
}

.azul,
.roxo,
.laranja,
.rosa {
    font-weight: bold;
    font-size: 16px;
}

.azul {
    color: #0C51A7;
}

.roxo {
    color: #591B98;
}

.laranja {
    color: #E95E10;
}

.rosa {
    color: #E5245E;
}

#final,
footer {
    text-align: center;
    margin-bottom: 56px;
}